# Raw disk images (too large for git)
*.img
*.vdi
*.vhd

# VMware runtime files
*.vmsd
*.vmss
*.vmem
*.vmsn
*.vmxf
*.log
*.lck/
*.scoreboard
nvram

# VirtualBox runtime files
*.vbox-prev
*.vbox-extpack

# Installers
*.exe
*.iso
